<head>
    <meta charset="UTF-8">
    <title>星野栄治の個人ウェブサイト</title>
    <link rel="stylesheet" href="/css/main.css" /><!--全网站统一标准-->
    <link rel="stylesheet" href="/css/IndexTitleCursor.css" /><!--设置主页标题动画的光标，其他地方也可以调用-->
    <link rel="icon" href="https://avatars.githubusercontent.com/u/177436503?v=4" /><!--图标-->
    <link rel="stylesheet" href="/css/markdown.css"><!--Markdown的樣式-->
    <script src="/js/IndexTitleCursor.js"></script><!--主页动画-->
    <!--<script src="https://fastly.jsdelivr.net/npm/live2d-widgets@1.0.0-rc.6/dist/autoload.js"></script>   //看板娘-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>