# 伺服器設定
PORT=3000#(目前程式碼寫死 3000，但建議保留此項以便日後擴充)
#DEV_MODE=false#開發模式，默認關閉

# SMTP 郵件伺服器設定
# 如果使用 Gmail，host 通常是 smtp.gmail.com，port 是 465 (secure: true)
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true

# 寄件人信箱與密碼 (密碼通常是 App Specific Password)
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-app-password-here

# GitHub Webhook 安全驗證 Token
# 這要對應你 GitHub Repo 設定中的 Secret，或是傳送 header 'x-hosino-token' 的內容，他們必須是純隨機的，你可以讓工具給你隨機生成一個，或者你在鍵盤上狂敲一頓
WEBHOOK_SECRET=your_super_secret_token_here

GAS_URL