/*這個是所有動畫的預設，main.css的附錄2*/
  

/*===================輪到它顯示就顯示=======================
[data-animate-on-scroll-Left] {
  opacity: 0;
  transform: translateX(-500px);
transition: opacity 0.6s ease, transform 0.6s ease;
scale: 0;
}
[data-animate-on-scroll-Left].visible {
  opacity: 1;
  transform: translateX(0);
  scale: 1;
}



[data-animate-on-scroll-Right] {
  opacity: 0;
  transform: translateX(500px);
transition: opacity 0.6s ease, transform 0.6s ease;
scale: 0;
}
[data-animate-on-scroll-Right].visible {
  opacity: 1;
  transform: translateX(0);
  scale: 1;
}

[animate-gradient]{
    opacity: 0;
    transition: opacity 0.6s ease;
}
[animate-gradient].visible {
    opacity: 1;
}

*/