/*這裏是主頁特有的css代碼，其他頁面不調用（除非頁面直接由index.html移植而來）*/
.main-title{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
}
.title-Placeholder{/*主標題前占位*/
    height: 101vh;
    z-index: 1;
}
.main_2{/*副標題*/
    text-align: center;
    font-size: xx-large;
    animation: IndexButton 2s forwards;
}

.title{/*標題容器*/
    font-size: 400%;/*字体大小*/
    padding: 0 50px;/*控制字体间距，防止抽象*/


    /*居中*/
    margin: 32vh auto 0;/*画面居中对齐*/
    display: flex;/*文字居中对齐*/
    align-items: center;
    justify-content: center;
}

.indexButton{/*主界面两个大按钮的容器*/

    display: flex;
    justify-content: space-evenly;

    margin: 6% 0 0;
    
}
.indexButton a{/*主界面两个大按钮*/
    min-width: 15%;
    font-size: 150%;
    align-content: center;/*按钮文字居中*/
}
#link_elseWeb{/*外站連接*/
    margin: 60px;
    display: flex;
    justify-content: center;
    animation: IndexButton 2s forwards;
    font-size: 25px;
}

.list *{
    margin-bottom: 10px;
}

.Text-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}
.Text-content #markdown{/*主界面文字内容容器*/
    padding: 20px 20px;
    width: 75%;
    margin: 20px auto;
}


/*国际跨性别现身日彩蛋对应的颜色，配合/js/IndexTransgender.js食用*/
#c-g { color: #5bcffa; }
#c-t { color: #f5abb9; }
#c-e { color: white; }




/* 当长宽比小于1:1时，使用另一种排版 */
@media (max-aspect-ratio: 1/1){
    .title{
    }
    .indexIcon{/*手机界面时消失*/
        display: none;
    }
    .indexButton{
        margin: 20% 0 0;
    }
}







/*动画部分*/

/*主页按钮动画*/
.indexButton{animation: IndexButton 2s forwards;}
@keyframes IndexButton{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

/*主頁背景個人化按鈕動畫*/
@keyframes IndextoggleSettings{
    0%{bottom: -100px;}
    90%{bottom: -100px;}
    100%{bottom: 20px;}
}

